* {
  box-sizing: border-box;
}

body {
  font-family:sans-serif, 'Roboto'; 
  margin: 0px;
  padding: 0px;
  background-color:#e5e5e5;
}

body nav {
  background-color:#ffffff;
  padding: 1px;
  text-align:center;
  font-weight: bold;
}

body nav span {
  color: #e7015e;
  font-weight: bold;
}

nav h1 {
  color: #000;
  font-weight: bold;
}

#media {
  margin: 0px;
  height: 100vh;
  background-image: url('../img/banner.jpg');
  background-size: cover;
}

#circle {
  background-color: #321161;
  height: 80%;
  width: 40%;
  padding-left: 0px;
  position: relative;
  top: 10%;
  left: 30%;
  border-radius: 50%;
}

#welcome {
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
  position: relative;
  top: 20%;
  font-weight: bold;  
}

#crowd {
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
  position: relative;
  top: 22%;
  font-weight: bold;
}

#crowd2 {
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
  position: relative;
  top: 20%;  
}

#icons {
  position: relative;
  top: 20%;  
  left: 22%;
}

#buttons {
  position: relative;
  top: 25%;
  left: 16%;  
}

#su {
  background-color: #e7015e;
  color: #ffffff;
  width: 33%;
  margin-right: 4%;
  border: 2px solid #e7015e;
}

#su:hover {
  background-color: transparent;
  border: 2px solid #ffffff;
}

#si {
  background-color: transparent;
  color: #ffffff;
  width: 33%;  
  border: 2px solid #ffffff;
}

#si:hover {
  background-color: #e7015e;
  border: 2px solid #e7015e;
}
 

#register-form {
  border: 0.5px solid #ccc; 
  width: 40%; 
  padding-top: 0px; 
  border-radius: 4px;  
  position: relative; 
  top: 10%; 
  left: 30%;
  background-color: #ffffff;
}

#form {
  padding-top: 3%;
  padding-left: 35%;
  padding-bottom: 5%;
  height: 100%;
  margin-bottom: 0px;
}

#image1 {
  position: relative;
  top: 45%;
  left: 4%; 
}

#image2 {
  position: relative;
  top: 25%;
  right: 5%;
  float: right;  
}

#image3 {
  position: absolute;
  top: 30%;
  left: 23%;
}

#image4 {
  position: absolute;
  top: 22%;
  right: 2%;
  float: right;  
}

#image5 {
  position: absolute;
  top: 50%;
  left: 4%;
  height: 6%;
  width: 3%;
}

#circle1 {
  position: absolute;
  top: 80%;
  left: 3%;
  font-size: 45px;
  color: #3B1D82;
}

#circle2 {
  position: absolute;
  top: 67%;
  right: 9.2%;
  float: right;
  font-size: 45px;
  color: #3B1D82; 
}

#circle3 {
  position: absolute;
  top: 17%;
  left: 3%;
  font-size: 20px;
  color: #3B1D82;
}

#circle4 {
  position: absolute;
  top: 25%;
  right: 10%;
  font-size: 20px;
  color: #3B1D82;

}

.icon {
  font-size: 85px;
  margin-left: 1%;
}

.header {
  text-align: center;
  color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px;  
  font-weight: bold;
}

#green {
  color: green;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #2d6ff7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 4px;
}

.signingheader {
  background-color: #ffffff;
  height: 110px;
  padding-top: 10%;
  border-top: 3px solid #e7015e;
}

.signingheader hr {
  height: 1px;
  width: 120px;
  border-bottom: 1px solid#e7015e;
  background-color: #e7015e;
}

button:hover {
  opacity:1;
}

.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.signupbtn {
    background-color:#e7015e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 4px;
}

.signupbtn:hover {
  background-color: #00c1c1;
}

#signin {
  text-align: center
  margin-top: 17px;
  text-decoration: none;
  color: black;
}


#inner {
  color: #00c1c1;
  font-weight: bold;
}

.label {
  color: #7c7f85;
}

.label2 {
  color: #de2b2b;
  margin-left: 5px;
}



.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    #circle {
      width: 60%;
      height: 40%;
      margin-right: 0px;
      padding-right: 0px;
      position: relative;
      top: 10%;
      left: 20%;
    }

    #crowd {
      width: 100%;
    }

    #icons {
      position: relative;
      top: 20%;  
      left: 0%;
    }    

    .icon {
      font-size: 55px;
      margin-left: 1%;
    }

    #buttons {
      position: relative;
      top: 25%;
      left: 0%;  
    }

    #su {
      width: 48%;
    }

    #si {
      width: 45%; 
    }

    #image1 {
      display: none;
    }

    #image2 {
      display: none;
    }
  }